@import "Bootstrap/stylesheets/bootstrap/variables";

$navigationLinksAmount: 3;

.mainHeader__brand {
    margin: 0;
    text-transform: uppercase;
}

.mainHeader__navList > li,
.mainHeader__navList__loggedIn > li {
    width: 100% / $navigationLinksAmount;
    // Reset Bootstrap styles.
    a {
        padding: 0;
        line-height: inherit;

        :visited {
            color: inherit;
        }
    }

    button {
        padding: 0;
        line-height: inherit;
    }
}

.mainHeader__navList__wrapper {
    /*position: absolute;
    bottom: 10px;
    right: 0;*/
}

@media screen and (min-width: $screen-sm) {
    
    .mainHeader__navList__wrapper {
        position: absolute;
        bottom: 10px;
        right: 0;
    }

    .mainHeader__navList,
    .mainHeader__navList__loggedIn {
        width: 75%;
        text-align: right;
    } 

    .mainHeader__navList > li {
        width: 100% / $navigationLinksAmount;
    }

    .mainHeader__navList__loggedIn > li {
        width: 100% / ($navigationLinksAmount + 1);
    }
}

@media screen and (max-width: $screen-sm - 1) {

    .mainHeader__brand {
        text-align: center;
        width: 100%;
    }

    .mainHeader__navList__wrapper {
        text-align: center;
    }

    .mainHeader__navList,
    mainHeader__navList__loggedIn {
        display: inline-block;
        width: 75%;
    }

    .mainHeader__navList > li {
        display: block;
        float: left;
        width: 100% / $navigationLinksAmount;
    }

    .mainHeader__navList__loggedIn > li {
        display: block;
        float: left;
        width: 100% / ($navigationLinksAmount + 1);
    }
}

.editorMenu__wrapper {
    float: left;
    position: absolute;
    right: 0px;

    .mainHeader__navList__editor {
        position: absolute;
        background: linear-gradient(180deg, $navbar-default-bg, darken($navbar-default-bg, 5%));
        z-index: 10;
        display: none;

        li {
            width: 100%;
        }
    }

    &:hover {
        .mainHeader__navList__editor {
            display: block;
            box-shadow: 2px 2px 2px $gray-light;
        }
    }
}